<div class="footer">
    <div class="foot">
        <div class="logo"><img src="../../assets/img/Favicon-CODEAT.png" alt=""></div>
        <div class="enlaces">
            <a href="" class="contacto">Contacto</a>
            <a href="" class="aviso">Aviso legal y cookies</a>
            <a href="" class="privacidad">Política de privacidad</a>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com" target="_blank"><img src="../../assets/img/facebook.png"  alt=""></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../../assets/img/twitter.png" alt=""></a>
            <a href="https://www.instagram.com" target="_blank"><img src="../../assets/img/instagram.png" alt=""></a>
        </div>
    </div>
    <div class="licencia">
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a property="dct:title" rel="cc:attributionURL" href="http://codeat.github.io">CodeaT</a>, por <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="http://codeat.github.io">Team CodeaT,</a> está licenciado bajo <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p>
        <p> Iconos de <a href="https://iconos8.es/">Icons8</a></p>
    </div>
</div>

