.footer {
    width: 100%;
    background-color: var(--french-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.foot {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 5px 0px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 5px 0px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 0px -4px rgba(0, 0, 0, 1);
}

.redes {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes a {
    display: flex;
    align-items: center;
}

.logo {

    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 80%;
}

.enlaces {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
}

.foot a {
    text-decoration: none;
    color: #000;
}

.licencia {
    font-size: smaller;
    text-align: center;
}

.licencia a {
    color: var(--marian-blue);
    text-decoration: none;
}

.contacto:hover {
    cursor: pointer;
}
