<div class="contacto">
    <h1>CONTACTO</h1>
    <form action="" method="post" aria-label="Formulario de contacto">
        <h1>Envía tu mensaje</h1>

        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
        </div>

        <div class="campo">
            <label for="apellidos">Apellidos:</label>
            <input type="text" name="apellidos" id="apellidos" required>
        </div>

        <div class="campo">
            <label for="telefono">Teléfono:</label>
            <input type="text" name="telefono" id="telefono" required>
        </div>

        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </div>

        <div class="campo">
            <label for="mensaje">Mensaje:</label>
            <textarea name="mensaje" id="mensaje"></textarea>
        </div>

        <input type="submit" value="Enviar" class="boton-enviar">
        <input type="reset" value="Cancelar" class="boton-cancelar">
    </form>
</div>
