.articulo {
    margin: 60px;
}

h1 {
    margin-bottom: 60px;
}

.cuerpo {
    display: flex;
    gap: 30px;
}

.imagen {
    width: 100%;
}

.imagen img {
    width: 100%;
    border: 1px solid var(--french-gray);
    border-radius: 6px;
}

.volver {
    text-align: center;
    margin: 20px 0 60px 0;
}
