<div class="navbar" aria-label="Menú de navegación principal">
    <div (click)="volverInicio()" class="logo" aria-label="Ir al inicio"></div>
    <div class="menu">
        <a href="#" routerLinkActive="active"  routerLink="inicio">Inicio</a>
        <a href="#" routerLinkActive="active"  routerLink="articulos">Artículos</a>
        <a href="#" routerLinkActive="active"  routerLink="cursos">Cursos</a>
        <a href="#" routerLinkActive="active"  routerLink="comunidad">Comunidad</a>
        <a href="#" routerLinkActive="active"  routerLink="contacto">Contacto</a>
    </div>
</div>
