@font-face {
    font-family: "worksans";
    src: url(../assets/fonts/Work_Sans/work-sans-variable.ttf);
}

@font-face {
    font-family: "inter";
    src: url(../assets/fonts/Inter/inter_variable.ttf);
}
