<div class="contaniner">

    <h1>COMUNIDAD</h1>

    <main>
        <h2>PODCAST</h2>
        <div class="podcast">
            <div class="card">
                <strong>Entrevista a unos futuros programadores</strong>
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
            </div>
            <div class="card">
                <strong>Trabajo en remoto si o no</strong>
                <audio controls>
                    <source src="horse.ogg" type="audio/ogg">
                    <source src="horse.mp3" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
            </div>
        </div>
        <h2>POST</h2>
        <div class="post">
            <div class="card">
                <strong>Post 1</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nisi iste magnam dolore libero tenetur similique, molestiae tempore vero architecto, reiciendis dignissimos nobis odio! Exercitationem quam officiis itaque dolorem aliquam!</p>
            </div>
            <div class="card">
                <strong>Post 2</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nisi iste magnam dolore libero tenetur similique, molestiae tempore vero architecto, reiciendis dignissimos nobis odio! Exercitationem quam officiis itaque dolorem aliquam!</p>
            </div>
        </div>
    </main>
</div>
