<div class="contaniner">

    <h1>COMUNIDAD</h1>

    <main>
        <h2>PODCAST</h2>
        <div class="podcast">
            <div class="card">
                <strong>Entrevista a unos futuros programadores</strong>
                <audio controls>
                    <source src="../../assets/audios/Podcast.ogg" type="audio/ogg">
                    <source src="../../assets/audios/Podcast.mp3" type="audio/mpeg">
                  Su navegador no soporta este elemento de audio.
                </audio>
            </div>
            <div class="card">
                <strong>Trabajo en remoto, ¿sí o no?</strong>
                <audio controls>
                    <source src="" type="audio/ogg">
                    <source src="" type="audio/mpeg">
                    Su navegador no soporta este elemento de audio.
                </audio>
            </div>
        </div>
        <h2>POST</h2>
        <div class="post">
            <div class="card">
                <strong>Post 1</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nisi iste magnam dolore libero tenetur similique, molestiae tempore vero architecto, reiciendis dignissimos nobis odio! Exercitationem quam officiis itaque dolorem aliquam!</p>
            </div>
            <div class="card">
                <strong>Post 2</strong>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio nisi iste magnam dolore libero tenetur similique, molestiae tempore vero architecto, reiciendis dignissimos nobis odio! Exercitationem quam officiis itaque dolorem aliquam!</p>
            </div>
        </div>
        
        <div class="descargas">
            <h2>DESCARGAS</h2>
            
            <div class="desimages">
                <h3>Imágenes</h3>
                <div class="imagen">
                    <img src="../../assets/img/descargables/03_Art3.png" alt="Imagen descargable en varios formatos">
                    <div class="enlaces">
                        <p>Formatos:</p>
                        <a href="../../assets/img/descargables/03_Art3.png" download>PNG - Calidad alta</a>
                        <a href="../../assets/img/descargables/03_Art3-opt.png" download>PNG - Calidad media</a>
                        <a href="../../assets/img/descargables/03_Art3.webp" download>WEBP - Calidad media</a>
                        <a href="../../assets/img/descargables/03_Art3-opt.webp" download>WEBP - Blanco y negro</a>
                    </div>
                </div>
            </div>
            
            <div class="desvideo">
                <h3>Vídeos</h3>
                <div class="video">
                    <video width="640" height="360" controls alt="Vídeo promocional de nuestros cursos">
                        <source src="../../assets/videos/Video-Publicitario.webm" type="video/webm">
                        <source src="../../assets/videos/Video-Publicitario.mp4" type="video/mpeg">
                        Su navegador no soporta este elemento de video.
                    </video>
                    <div class="enlaces">
                        <p>Formatos:</p>
                        <a href="../../assets/videos/Video-Publicitario.webm" download>WEBM</a>
                        <a href="../../assets/videos/Video-Publicitario.mp4" download>MP4</a>
                    </div>
                </div>

            </div>
            
            <div class="desaudio">
                <h3>Audios</h3>
                <div class="audio">
                    <h4>Entrevista a unos futuros programadores</h4>
                    <div class="enlaces">
                        <p>Formatos:</p>
                        <a href="../../assets/audios/Podcast.ogg" download>OGG - Stereo</a>
                        <a href="../../assets/audios/Podcast.mp3" download>MP3 - Stereo</a>
                        <a href="../../assets/audios/Podcast_mono.ogg" download>OGG - Mono</a>
                        <a href="../../assets/audios/Podcast_mono.mp3" download>MP3 - Mono</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
