<section class="main-magna">
    <div class="main-img">
      <img src="{{curso.img}}" alt="Imagen descriptiva del curso" aria-label="Imagen descriptiva del curso">
    </div>
    <div class="contenedor">
        <h1>{{curso.titulo}}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat vel quaerat sunt quasi voluptatum, magni praesentium eius repellendus? Repellendus rem quas sed accusantium officiis eius incidunt exercitationem nihil tempore voluptatem.</p>
       <!-- <a class="boton" (click)="leerArticulo(articulo.id, articulo)">Leer Artículo</a> -->
    </div>
</section>
