:root {
       /* Fuentes */
 
    /* Colores */
    --french-gray: #CACFD6;
    --marian-blue: #424874;
    --periwinkle1: #dcd6f7;
    --periwinkle2: #a6b1e1;
    --azure: #d6e5e3;
 
   font-family: worksans;
}
.boton{
    color: white;
    font-weight:400;
    background-color: var(--marian-blue);
    padding:  12px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.boton:hover{
    background-color: #373b60;
    color: var(--azure);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #fff;
}
