.inicio{
    width: 100%;
    height: 100%;
}
.imagen{
    width: 100%;
    min-height: calc(100vh - 80px);
    background: url('../../assets/img/1250px/01_cabecera_IA.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen h2{
    font-size: 3rem;
    color: white;
    font-family: inter;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 4rem;
    color: white;
    font-family: inter;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.articulosrec{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
}
.titarticulos{
    font-size: 2rem;
    margin: 80px auto;
}
.newstit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articulos{
    display: grid;
    grid-template-areas: "A B"
                         "C D";
    width: 80%;
}

.titulob, .tituloc{
    padding: 1px;
    margin-left: 50px;
    width: calc(100% - 50px);
    font-size: 2rem;
}
img{
    width: 100%;
    height: 100%;
}
.imagena{
    grid-area: A;
}
.imagena img{
    border-radius: 6px;
}
.divtitulob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-area: B;
}
.divtituloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-area: C;
}

.imagend{
    grid-area: D;
}
.imagend img{
    border-radius: 6px;
}
.newsletter{
    margin: 0 5%;
    width: 90%;
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}
.imagenews{
width: 48.7%;
height: 100%;
}
.imagenews img{
 height: 100%;
 border-radius: 6px;
}
.news{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.newstit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}
.newstit h3{
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}
.newstit p{
    margin: 0;
    font-style: italic;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.texto{
    width: 280px;
    padding: 4px;
    float: right;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 6px;
}
.campo{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.enviar{
    text-align: center;
}
.submit{
    border: 0;
}
.labeltexto{
    font-size: 1.5rem;
}
.labelterminos{
    width: 60%;
    font-size: smaller;
}